html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://github.com/NTG18/Monsite2/blob/4fee43fa72379d95e50d8dac34332f201b9fdd5e/wallpaperflare.com_wallpaper(2).jpg');
  background-size: cover;
}
